In [1]:
# importing all my functions
import acquired as a
import prepare as p
import model as m
import created_functions as cf

# data manipulation
import numpy as np
import pandas as pd

# importing model
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [2]:
# getting data from acquired file
df = a.get_titanic_data()
df.head()

this file exists, reading csv

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
Unnamed: 0,,,,,,,,,,,,,
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [3]:
# grabbing the clean function
df = p.clean_titanic(df)
df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
Unnamed: 0,,,,,,,,,
0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,0,3,male,0,0,8.0500,Southampton,1

In [4]:
train, validate, test = p.splitting_data(df, 'survived')

In [5]:
train.shape, validate.shape, test.shape

((534, 9), (178, 9), (179, 9))

In [12]:
# preprocss the data
train, validate,test = m.preprocess_titanic(train, validate, test)

 making baseline prediction

In [13]:
# create X and y versions
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [14]:
df.survived.mode()

0    0
Name: survived, dtype: int64

In [15]:
y_train.value_counts(normalize=True)[0]

0.6161048689138576

>baseline accuracy is 61 %

In [16]:
clf =DecisionTreeClassifier(max_depth=3)

In [17]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

DecisionTreeClassifier(max_depth=3)