In [2]:
import acquired as a
import prepare as p
import model as m

import pandas as pd
import numpy as np

In [13]:
# getting data from acquired file
df = a.get_titanic_data()
df.head()

this file exists, reading csv

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [14]:
# grabbing the clean function
df = p.clean_titanic(df)
df.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
0,0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,4,0,3,male,0,0,8.0500,Southampton,1

In [16]:
train, validate, test = p.splitting_data(df, 'survived')

In [17]:
train.shape, validate.shape, test.shape

((534, 10), (178, 10), (179, 10))

In [18]:
m.preprocess_titanic(train, validate, test)

NameError: name 'np' is not defined