In [4]:
import pandas as pd
import numpy as np
import acquired
import matplotlib.pyplot as plt
import env

In [72]:
df = acquired.get_iris_data()

this file exists, reading csv

In [77]:
df.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa

In [78]:
df = df.replace('.', '_')

In [76]:
df = df.drop(columns=['measurement_id', 'species_id'])

In [79]:
df.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa

In [80]:
df = df.rename(columns={'species_name': 'species'})

In [81]:
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [21]:
def prep_iris(df):
    """ 
    this function takes in the iris dataframe and returns a cleaned version
    """
    # Replace periods with underscores in the entire DataFrame
    df = df.replace('.', '_')

    # Drop the 'measurement_id' and 'species_id' columns
    df = df.drop(columns=['measurement_id', 'species_id'])

    # Rename 'species_name' column to 'species'
    df = df.rename(columns={'species_name': 'species'})

    return df

In [23]:
prep_iris(df)

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
5,5,5.4,3.9,1.7,0.4,setosa
6,6,4.6,3.4,1.4,0.3,setosa
7,7,5.0,3.4,1.5,0.2,setosa
8,8,4.4,2.9,1.4,0.2,setosa
9,9,4.9,3.1,1.5,0.1,setosa
10,10,5.4,3.7,1.5,0.2,setosa
11,11,4.8,3.4,1.6,0.2,setosa
12,12,4.8,3.0,1.4,0.1,setosa
13,13,4.3,3.0,1.1,0.1,setosa
14,14,5.8,4.0,1.2,0.2,setosa
15,15,5.7,4.4,1.5,0.4,setosa
16,16,5.4,3.9,1.3,0.4,setosa
17,17,5.1,3.5,1.4,0.3,setosa
18,18,5.7,3.8,1.7,0.3,setosa
19,19,5.1,3.8,1.5,0.3,setosa
20,20,5.4,3.4,1.7,0.2,setosa
21,21,5.1,3.7,1.5,0.4,setosa
22,22,4.6,3.6,1.0,0.2,setosa
23,23,5.1,3.3,1.7,0.5,setosa
24,24,4.8,3.4,1.9,0.2,setosa
25,25,5.0,3.0,1.6,0.2,setosa
26,26,5.0,3.4,1.6,0.4,setosa
27,27,5.2,3.5,1.5,0.2,setosa
28,28,5.2,3.4,1.4,0.2,setosa
29,29,4.7,3.2,1.6,0.2,setosa
30,30,4.8,3.1,1.6,0.2,setosa
31,31,5.4,3.4,1.5,0.4,setosa
32,32,5.2,4.1,1.5,0.1,setosa
33,33,5.5,4.2,1.4,0.2,setosa
34,34,4.9,3.1,1.5,0.2,setosa
35,35,5.0,3.2,1.2,0.2,setosa
36,36,5.5,3.5,1.3,0.2,setosa
37,37,4.9,3.6,1.4,0.1,setosa
38,38,4.4,3.0,1.3,0.2,setosa
39,39,5.1,3.4,1.5,0.2,setosa
40,40,5.0,3.5,1.3,0.3,setosa
41,41,4.5,2.3,1.3,0.3,setosa
42,42,4.4,3.2,1.3,0.2,setosa
43,43,5.0,3.5,1.6,0.6,setosa
44,44,5.1,3.8,1.9,0.4,setosa
45,45,4.8,3.0,1.4,0.3,setosa
46,46,5.1,3.8,1.6,0.2,setosa
47,47,4.6,3.2,1.4,0.2,setosa
48,48,5.3,3.7,1.5,0.2,setosa
49,49,5.0,3.3,1.4,0.2,setosa
50,50,7.0,3.2,4.7,1.4,versicolor
51,51,6.4,3.2,4.5,1.5,versicolor
52,52,6.9,3.1,4.9,1.5,versicolor
53,53,5.5,2.3,4.0,1.3,versicolor
54,54,6.5,2.8,4.6,1.5,versicolor
55,55,5.7,2.8,4.5,1.3,versicolor
56,56,6.3,3.3,4.7,1.6,versicolor
57,57,4.9,2.4,3.3,1.0,versicolor
58,58,6.6,2.9,4.6,1.3,versicolor
59,59,5.2,2.7,3.9,1.4,versicolor
60,60,5.0,2.0,3.5,1.0,versicolor
61,61,5.9,3.0,4.2,1.5,versicolor
62,62,6.0,2.2,4.0,1.0,versicolor
63,63,6.1,2.9,4.7,1.4,versicolor
64,64,5.6,2.9,3.6,1.3,versicolor
65,65,6.7,3.1,4.4,1.4,versicolor
66,66,5.6,3.0,4.5,1.5,versicolor
67,67,5.8,2.7,4.1,1.0,versicolor
68,68,6.2,2.2,4.5,1.5,versicolor
69,69,5.6,2.5,3.9,1.1,versicolor
70,70,5.9,3.2,4.8,1.8,versicolor
71,71,6.1,2.8,4.0,1.3,versicolor
72,72,6.3,2.5,4.9,1.5,versicolor
73,73,6.1,2.8,4.7,1.2,versicolor
74,74,6.4,2.9,4.3,1.3,versicolor
75,75,6.6,3.0,4.4,1.4,versicolor
76,76,6.8,2.8,4.8,1.4,versicolor
77,77,6.7,3.0,5.0,1.7,versicolor
78,78,6.0,2.9,4.5,1.5,versicolor
79,79,5.7,2.6,3.5,1.0,versicolor
80,80,5.5,2.4,3.8,1.1,versicolor
81,81,5.5,2.4,3.7,1.0,versicolor
82,82,5.8,2.7,3.9,1.2,versicolor
83,83,6.0,2.7,5.1,1.6,versicolor
84,84,5.4,3.0,4.5,1.5,versicolor
85,85,6.0,3.4,4.5,1.6,versicolor
86,86,6.7,3.1,4.7,1.5,versicolor
87,87,6.3,2.3,4.4,1.3,versicolor
88,88,5.6,3.0,4.1,1.3,versicolor
89,89,5.5,2.5,4.0,1.3,versicolor
90,90,5.5,2.6,4.4,1.2,versicolor
91,91,6.1,3.0,4.6,1.4,versicolor
92,92,5.8,2.6,4.0,1.2,versicolor
93,93,5.0,2.3,3.3,1.0,versicolor
94,94,5.6,2.7,4.2,1.3,versicolor
95,95,5.7,3.0,4.2,1.2,versicolor
96,96,5.7,2.9,4.2,1.3,versicolor
97,97,6.2,2.9,4.3,1.3,versicolor
98,98,5.1,2.5,3.0,1.1,versicolor
99,99,5.7,2.8,4.1,1.3,versicolor
100,100,6.3,3.3,6.0,2.5,virginica
101,101,5.8,2.7,5.1,1.9,virginica
102,102,7.1,3.0,5.9,2.1,virginica
103,103,6.3,2.9,5.6,1.8,virginica
104,104,6.5,3.0,5.8,2.2,virginica
105,105,7.6,3.0,6.6,2.1,virginica
106,106,4.9,2.5,4.5,1.7,virginica
107,107,7.3,2.9,6.3,1.8,virginica
108,108,6.7,2.5,5.8,1.8,virginica
109,109,7.2,3.6,6.1,2.5,virginica
110,110,6.5,3.2,5.1,2.0,virginica
111,111,6.4,2.7,5.3,1.9,virginica
112,112,6.8,3.0,5.5,2.1,virginica
113,113,5.7,2.5,5.0,2.0,virginica
114,114,5.8,2.8,5.1,2.4,virginica
115,115,6.4,3.2,5.3,2.3,virginica
116,116,6.5,3.0,5.5,1.8,virginica
117,117,7.7,3.8,6.7,2.2,virginica
118,118,7.7,2.6,6.9,2.3,virginica
119,119,6.0,2.2,5.0,1.5,virginica
120,120,6.9,3.2,5.7,2.3,virginica
121,121,5.6,2.8,4.9,2.0,virginica
122,122,7.7,2.8,6.7,2.0,virginica
123,123,6.3,2.7,4.9,1.8,virginica
124,124,6.7,3.3,5.7,2.1,virginica
125,125,7.2,3.2,6.0,1.8,virginica
126,126,6.2,2.8,4.8,1.8,virginica
127,127,6.1,3.0,4.9,1.8,virginica
128,128,6.4,2.8,5.6,2.1,virginica
129,129,7.2,3.0,5.8,1.6,virginica
130,130,7.4,2.8,6.1,1.9,virginica
131,131,7.9,3.8,6.4,2.0,virginica
132,132,6.4,2.8,5.6,2.2,virginica
133,133,6.3,2.8,5.1,1.5,virginica
134,134,6.1,2.6,5.6,1.4,virginica
135,135,7.7,3.0,6.1,2.3,virginica
136,136,6.3,3.4,5.6,2.4,virginica
137,137,6.4,3.1,5.5,1.8,virginica
138,138,6.0,3.0,4.8,1.8,virginica
139,139,6.9,3.1,5.4,2.1,virginica
140,140,6.7,3.1,5.6,2.4,virginica
141,141,6.9,3.1,5.1,2.3,virginica
142,142,5.8,2.7,5.1,1.9,virginica
143,143,6.8,3.2,5.9,2.3,virginica
144,144,6.7,3.3,5.7,2.5,virginica
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [82]:
acquired.get_telco_data()

this file exists, reading csv

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,1,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,2,1,2,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,2,1,2,9987-LUTYD,Female,0,No,No,13,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,7040,2,1,1,9992-UJOEL,Male,0,No,No,2,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [84]:
df = acquired.get_telco_data()

this file exists, reading csv

In [27]:
df.head()

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,1,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,2,1,2,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [44]:
df = df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id',  'Unnamed: 0',])

KeyError: "['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'Unnamed: 0'] not found in axis"

In [45]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Mailed check

In [36]:
df.shape

(7043, 21)

In [34]:
df.dtypes

customer_id               object
gender                    object
senior_citizen             int64
partner                   object
dependents                object
tenure                     int64
phone_service             object
multiple_lines            object
online_security           object
online_backup             object
device_protection         object
tech_support              object
streaming_tv              object
streaming_movies          object
paperless_billing         object
monthly_charges          float64
total_charges             object
churn                     object
contract_type             object
internet_service_type     object
payment_type              object
dtype: object

In [61]:
df.total_charges.value_counts()

total_charges
20.2       11
19.75       9
19.9        8
19.65       8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: count, Length: 6530, dtype: int64

In [60]:
df = df[df.total_charges != ' ']

In [68]:
df.total_charges.astype('float64')

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7038     742.90
7039    1873.70
7040      92.75
7041    4627.65
7042    3707.60
Name: total_charges, Length: 7032, dtype: float64

In [86]:
df.isnull().sum() [df.isnull().sum() != 0]

internet_service_type    1526
dtype: int64

In [70]:
df = df.drop(columns='internet_service_type')

KeyError: "['internet_service_type'] not found in axis"

In [70]:
df

In [87]:
df.dtypes

Unnamed: 0                    int64
payment_type_id               int64
internet_service_type_id      int64
contract_type_id              int64
customer_id                  object
gender                       object
senior_citizen                int64
partner                      object
dependents                   object
tenure                        int64
phone_service                object
multiple_lines               object
online_security              object
online_backup                object
device_protection            object
tech_support                 object
streaming_tv                 object
streaming_movies             object
paperless_billing            object
monthly_charges             float64
total_charges                object
churn                        object
contract_type                object
internet_service_type        object
payment_type                 object
dtype: object

In [7]:
def prep_telco(df):
    """
    this  function takes in the telco database and cleans it
    
    """
    df = df.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id',  'Unnamed: 0',])
    
    df = df.drop(columns='internet_service_type')
    
    df = df[df.total_charges != ' ']
    
    df.total_charges.astype('float64')
    
    return df

In [1]:
from sklearn.model_selection import train_test_split

In [2]:
def splitting_data(df):
    
    
   train, validate_test = train_test_split(df, #send in initial df
                 train_size=0.60, #size of the train df, and the test size will default to 1-train_size
                random_state=123, #set any number here for consistency
                 stratify=df.survived #need to stratify on target variable
                )
    
   validate, test = train_test_split(validate_test, #this is the df that we are splitting now
                test_size=0.50, #set test or train size to 50%
                 random_state=123, #gotta send in a random seed
                 stratify=validate_test.survived #still got to stratify
                )
   return train, validate, test

IndentationError: unexpected indent (2660325330.py, line 15)

In [5]:
df_telco = acquired.get_telco_data()

this file exists, reading csv

In [8]:
df_telco = prep_telco(df_telco)